
<head>
  <h1 style="color:black;font-size:20px;">When system dialog prompts, click Open link.</h1>
</head>

<body>
  <script type="text/javascript">
    function openMariposa() {
      document.getElementById("l").src = "mariposa://scan?name=Joe%20Dishwasher&gender=f&sha=f542e3bc-870e-481d-8bd7-5df15a7b15ee";
    }

    window.onload = function() {
      openMariposa();

      setTimeout(function() {
        window.location = "https://apps.apple.com/us/app/xcode/id497799835?mt=12";
      }, 500);
    };
  </script>
  <iframe id="l" width="1" height="1" style="visibility:hidden"></iframe>

  If you have Mariposa installed, <a href="#" onclick="openMariposa()">launch it</a>. Otherwise, download from <a href="https://apps.apple.com/us/app/xcode/id497799835?mt=12">AppStore<a/>.
</body>
