
<head>
  <h1 style="color:black;font-size:20px;">When system dialog prompts, click Open link.</h1>
</head>

If you have Mariposa installed, <a href="mariposa://scan?name=Joe%20Dishwasher&gender=f&sha=f542e3bc-870e-481d-8bd7-5df15a7b15ee">launch it</a>. Otherwise, download from <a href="https://www.apple.com">AppStore<a/>.
