
<head>
  <h1 style="color:black;font-size:20px;">When system dialog prompts, click Open link.</h1>
  <script type="text/javascript">
  function startMyApp()
  {
    document.location = 'mariposa://scan?name=Joe%20Dishwasher&gender=f&sha=f542e3bc-870e-481d-8bd7-5df15a7b15ee';
    setTimeout( function()
    {
        if( confirm( 'You do not seem to have Mariposa App installed, do you want to go download it now?'))
        {
          document.location = 'https://apps.apple.com/us/app/my-jump-2/id1148617550';
        }
    }, 300);
   }
  </script>
</head>

If you have Mariposa installed, <a href="mariposa://scan?name=Joe%20Dishwasher&gender=f&sha=f542e3bc-870e-481d-8bd7-5df15a7b15ee">launch it</a>. Otherwise, download from <a href="https://www.apple.com">AppStore<a/>.

<p>
<a href="#" onclick="startMyApp();">Open Mariposa app</a>
</p>
