
<head>
  <h1 style="color:black;font-size:20px;">When system dialog prompts, click Open link.</h1>
</head>

<body>
  <script type="text/javascript">
    function openMariposa() {
      let query = document.url.search
      document.getElementById("hiddenFrame").src = "sparta-scan://scan" + query;
    }

    window.onload = function() {
      openMariposa();
    };
  </script>
  <iframe id="hiddenFrame" width="1" height="1" style="visibility:hidden"></iframe>

  If you have Sparta Scan installed, <a href="#" onclick="openMariposa()">launch it</a>. Otherwise, download from <a href="https://apps.apple.com/us/app/my-jump-2/id1148617550">AppStore<a/>.
</body>
