<!DOCTYPE html>
<html>

<head>
  <h1 style="color:black;font-size:42px;">Scan Freddy Mercury</h1>
</head>

<body>
<br/>
<br/>

<input type="button" onclick='location.href="https://sparta-universal-links-demo.herokuapp.com/scan/index.html?name=Freddy%20Mercury&gender=m&sha=some-scan-sha';" value="Scan Freddy" /> - Same Domain

<br/>
<br/>
<input type="button" onclick='location.href="https://sparta-tuolumne.herokuapp.com/scan/index.html?name=Freddy%20Mercury&gender=m&sha=a-different-scan-sha';" value="Scan Freddy" /> - Different Domain

</body>

</html>
