<!DOCTYPE html>
<html>

<head>
  <h1 style="color:black;font-size:42px;">Scan Freddy Mercury</h1>
</head>

<body>
<br/>
<br/>

<button onclick="location.href='https://sparta-universal-links-demo.herokuapp.com/scan/index.html?name=Freddy%20Mercury&gender=m&sha=some-scan-sha'" type="button">
         Scan Freddy</button> - Same Domain
<br/>
<br/>
<button onclick="location.href="https://sparta-tuolumne.herokuapp.com/scan/index.html?name=Freddy%20Mercury&gender=f&sha=a-different-scan-sha'" type="button">
         Scan Freddy</button> - Different Domain
</body>

</html>
